@import 'style.css';
.media {
    background-color: rgb(214, 214, 207);
    padding-top: 10px;
    border: solid 1px black;
}

.titulo{
    margin-bottom: 18px;
}

.titulo-comida {
    text-align: center;
    background-color: var(--color-bordo);
    margin-bottom: 18px;
 }

a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: rgb(26, 105, 250);
}

p {
    font-weight: normal;
}

#bebida {
    margin-top: 30px;
}

#pizza {
    margin-top: 30px;
}

#hamburguesa {
    margin-top: 30px;
}

#postre {
    margin-top: 30px;
}

@media(min-width:769px) {
    /*Section */
    .titulo {
        text-align: center;
        position: relative;
        bottom: 0px;
    }
    .container img {
        width: 10%;
        margin-bottom: 30px;
        border: solid 1px black;
    }
}

@media(min-width: 571px) and (max-width: 768px) {
    /* section */
    .titulo {
        text-align: center;
        position: relative;
        bottom: 0px;
    }
    .container img {
        width: 10%;
        margin-bottom: 30px;
        border: solid 1px black;
    }
}

@media(max-width:570px) {
    /* section */
    .titulo {
        text-align: center;
        position: relative;
        bottom: 0px;
    }
    .titulo-comida {
        padding: 100px;
        background-color: white;
    }
    .container img {
        width: 30%;
        margin-bottom: 30px;
        border: solid 1px black;
    }
    .btn-secondary {
        padding: 2px 2px 2px 2px;
    }
}