@import 'style.css';

  @media(min-width:769px){
     /*Section */
    .titulo{
      text-align: center;
    }

    .container img{
      width: 10%;
      margin-bottom: 30px;
    }
   
  }
  @media(min-width: 571px) and (max-width: 768px) {
    
   /* section */
   .titulo{
    text-align: center;
  }

  .container img{
    width: 10%;
    margin-bottom: 30px;
  }
 

    
  }
  
 @media(max-width:570px){
    /* section */
    .titulo{
      text-align: center;
    }

    .container img{
      width: 30%;
      margin-bottom: 30px;
    }

 }