@import 'style.css';
.btn-group {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0;
    display: flex;
}

.btn-group a {
    width: 100%;
    padding: 5px 0;
    display: block;
    border-bottom: 1px solid black;
}

.btn-group a:hover {
    background-color: rosybrown;
}

.titulo-comida {
    text-align: center;
    background-color: var(--color-bordo);
    margin: 18px auto;
    color: whitesmoke;
    padding: 100%;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: rgb(26, 105, 250);
}

p {
    font-weight: normal;
}

.media {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 90%;
    margin: 20px auto;
    padding: 10px;
    height: 400px;
}

.media img {
    width: 90%;
}

.media-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#bebida {
    margin-top: 30px;
}

#pizza {
    margin-top: 30px;
}

#hamburguesa {
    margin-top: 30px;
}

#postre {
    margin-top: 30px;
}