*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    
    max-width: 100%;
    max-height: 1010px;
    
}
/* CABECERA*/
.cabezera{
    flex-wrap:wrap;
    max-width: 100%;
    max-height: 300px;
    background-color: brown;
    position: relative;
    top: 0px;
}
.logo{
    flex-wrap: wrap;
    justify-content: center;
}
.logo img{
    border-radius: 10px;
    border: solid 5px;
    margin: 10px;
    width: 200px;
    height: 200px;
    position: relative;
    left: 50%; 
}
/*MENU*/
.menu{
    background-color:grey;
    width: 100%;
    height: 50px;
    position: relative;
    top:50%;
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: space-around;
    align-items: center;
    border-top: solid 3px;
    border-bottom: solid 3px;
          
}
.menuUno{
    margin-left: 25%;
}
.menuUno button{     
    margin: 5px;
    width: 100px;
    background-color: black;
}
.menuDos{   
    margin-right:10px;
}
.menuDos button{
   
   margin:5px;
   width: 100px;
   background-color: black;}
   
/*CATALOGO*/

.catalogo{
    background-image: url('https://i.pinimg.com/originals/ae/94/48/ae94481e07fd39a444cb27a03c31d621.jpg');
    width: 100%;
    height: 1080px;
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: center;
    
}

.box-padre{
    display: flex;
    flex-direction: row;
    margin-bottom: -150px;
}
.box-uno{
    background-color: white;
    width: 400px;
    height:485px;
    margin: 10px;  
    
}

.box-madre{
    display: flex;
    flex-direction: row;
}
.box-dos{
    background-color: white;
    width: 400px;
    height:485px;
    margin: 10px;
    margin-top: 10%;
}
.contenido-box{
    margin: 10px;
    height: 400px;
}

img{
    width: 400px;
    height: 250px;
}
.pedido{
    position: relative;
    left: 80%;
    top: -30px;
}


/*FOOTER*/

.pie{
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 15%;
    background-color: black;

    
}
.pie ul{
    position: relative;
    left: 40%;    
    margin-left: 50px;
    list-style: none;
    color:  white;

}
/* RESPONSIVe*/


/* MEDIDA MEDIANA */
@media (max-width:800px){
 .cabezera{
     width: 800px;
     background-color: violet;
 }
 .menu{
    background-color:grey;
    width: 800px;
    
    position: relative;
    top:50%;
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: center;
    border-top: solid 3px;
    border-bottom: solid 3px;
          
}
}





