.row {
    margin-right: 0px;
}


/*Footer*/

footer {
    background-color: var(--color-bordo);
    margin-top: 60px;
    border-top: solid 1px black;
    padding: 20px;
}

footer .contacto {
    font-size: 54%;
    text-align: center;
}

footer .contacto p {
    margin: 2px 0px;
    text-align: center;
}

footer img {
    width: 60%;
    border-radius: 90%;
    border: solid 1px black;
}

footer .order {
    order: -1;
}

footer .contacto h3 {
    margin-top: 2px;
    font-size: 140%;
}

footer .redes {
    font-size: 175%;
    text-align: center;
    letter-spacing: 5px;
}

@media(min-width:768px) {
    footer {
        background-color: var(--color-bordo);
        margin-top: 20px;
        border-top: solid 1px black;
    }
    footer img {
        width: 50%;
        border-radius: 90%;
        border: solid 1px black;
    }
    footer .contacto {
        text-align: center;
        font-size: 12px;
    }
    footer .redes {
        font-size: 40px;
        ;
    }
    @media(min-width:1024px) {
        footer img {
            width: 30%;
        }
    }
}