    /* GENERAL*/
    /* PALETA DE COLORES*/
    
     :root {
        --color-bordo: #802528;
        --color-blanco: #ffffff;
        --color-negro: #000000;
        --color-gris: #6e6c6cdc;
        --colo-crema: rgba(255, 255, 255, 0.678);
    }
    
    * {
        box-sizing: border-box;
        margin: auto;
    }
    
    body {
        /*background-color: var(--color-crema);*/
        background-image: url('/images/fondoDos.jpg');
        /*Background-position: center center;
        Background-size: cover;
        Background-repeat: no-repeat;
        */
        font-weight: bold;
        text-transform: uppercase;
    }
    
    header {
        /*
                    background-color: #17a2b8!important;*/
        background-color: var(--color-bordo);
        border: solid 1px black;
    }
    
    .carrito {
        position: absolute;
        left: 90%;
        width: 80px;
        color: rgb(74, 204, 74);
        font-size: 50px;
    }
    
    .imgpresenrtacion {
        width: 50%;
    }
    
    .redes a {
        color: black;
    }
    
    .redes .facebook:hover {
        color: #385898;
    }
    
    .redes .twitter:hover {
        color: rgb(29, 161, 242);
    }
    
    .redes .instagram:hover {
        color: rgb(182, 12, 35);
    }