@import 'style.css';

.p-img{
  color: blue;
  font-weight: bold;
}

.card{
  border: solid 1px black;
}

.card-title{
  text-align: center;
    color: green;
}

@media(min-width:768px){

  /* */
  section .carousel{
    margin-top: 20px;
  }

  section .carousel-inner{
    border: solid 2px gray;
  }

  section .row .texto{
    display: flex;
    align-items: center;
  }

  section h2{
    margin-top: 20px;
    text-align: center;
    color: white;
  }

  section p{
    margin-top: 10px;
    text-align: center;
    color: white;
  }

  section .imgpresentacion{
    width: 100%;
    border: solid 2px gray;
  }

  
}
@media(min-width: 571px) and (max-width: 768px) {
  
  /**/

  section .imgbody{
    width: 100%;
    margin-bottom: 5px;
  }

  section h2{
    text-align: center;
    color: white;
    margin-top: 10px;
  }

  section p{
    font-size: x-small;
    color: white;
    text-align: center;
  }

}

@media(max-width:570px){
 
  /**/
  .imgbody {
    width: 100%;
    margin-bottom: 5px;
  }

  section h2{
    text-align: center;
    color: white;
    font-size: 100%;
    margin-top: 15px;
  }

  section p{
    text-align: center;
    color: white;
    font-size: 50%;
  }

}