@import 'style.css';

footer{
    margin-top: 100px;
}

@media(min-width:769px) {

.card{
    border: solid 1px black;

}


.titulo{
    text-align: center;
}
      
.card-img{
    margin-top: 20px;
    border: solid 1px black;
}

.comprar{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
}

.nombreproducto{
    font-weight: bold;
}

.precio{
    color: rgb(94, 170, 19);
    font-size: 200%;
}

}

@media(min-width: 571px) and (max-width: 768px) {
.card{
    border: solid 1px black;
}
        
        
.titulo{
    text-align: center;
}
              
.card-img{
    margin-top: 20px;
    border: solid 1px black;
}
        
.comprar{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
}

.nombreproducto{
    font-weight: bold;
}

.precio{
    color: rgb(94, 170, 19);
    font-size: 200%;
}
        
}

@media(max-width:570px){
.card{
    border: solid 1px black;
}
            
            
.titulo{
    text-align: center;
}
                  
.card-img{
    margin-top: 20px;
    border: solid 1px black;
}
            
.comprar{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
}

.nombreproducto{
    font-weight: bold;
}

.btn{
    margin-bottom: 5px;
}

.precio{
    color: rgb(94, 170, 19);
    font-size: 200%;
}

  
}
