    @import 'style.css';
    .card {
        border-radius: 10px;
        padding: 10px;
    }
    
    .card img {
        border: solid 1px gray
    }
    
    .precio {
        color: green;
        font-size: 30px;
        font-weight: bold;
    }
    
    @media(min-width:768px) {}