/* GENERAL*/
*{
  box-sizing: border-box;
  margin: 0 auto;
}
body{
  background-image: url('https://i.pinimg.com/originals/ae/94/48/ae94481e07fd39a444cb27a03c31d621.jpg');
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
} 
@media(min-width:768px){

  /* HEADER */
    
  header {
    background-color: rgb(216, 67, 23);  
    border: solid 1px black;
  }

  header ul li{
  list-style: none;
  padding: 0px 8px;
  }

  .navegacion li{
    margin-right: 2%;
  }

  header ul li:hover{
    border: solid 0.5px black;
    border-radius: 4px;
    background-color: black;
    padding: 0px 8px;
  }

  header a{
    text-decoration: none;
    color: black;
  }

  header a:hover{
    text-decoration-line: none;
    color: white;
    background-color: black;
  }

  header .navegacion{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end; 
    margin-right: 0px;
  }

  header ul{
    display: contents;
  }


  header .logo{
    margin: 0px 0px;
  }

  .logo img{
    width: 30%;
    border-radius: 90%;
    border: solid 1px black;
  }

  /* Form */

  form .row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-self: center;
    height: 120vh;
  }

  form .formulario{
    justify-content: center;
    margin-top: 50px;
    border-radius: 5px;
    border: solid 1px black;
    background-image: url('https://i.pinimg.com/originals/ad/ab/41/adab41ec5b5f829e01ac27a7dd9fdfd2.jpg');
    color: white;
  }

  form label{
    display: contents;
  }

  form input{
    margin-bottom: 8px;
  }

  form button{
    margin: 10px 20px;
    padding: 5px 20px;
    border: none;
    font-weight: bolder;
    background-color: black;
    color: white;
    border-radius: 5px;
  }

  form button:hover{
    background-color: white;
    color: black;
  }
  /* Footer */
  footer{
    background-color: rgb(216, 67, 23);
    margin-top: -75px;
    border: solid 1px black;
  }

  footer img{
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    border-radius: 90%;
    border: solid 1px black;
  }

  footer .contacto{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  footer .redes{
    font-size: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
  }

  .redes a{
    color: black;
  }

  .redes .facebook:hover{
    color: #385898;
  }

  .redes .twitter:hover{
    color: rgb(29,161,242);
  }

  .redes .instagram:hover{
    color: rgb(182, 12, 35);
  } 
}
@media(max-width:768px){
  /*header*/
  header img{
    width: 40%;
   }

   header a{
     font-size: 120%;
   }
 
   header .navegacion{
     font-size: 65%;
   }
   /*Form*/
   form h1{
     font-size: 120%;
   }

   form label{
     font-size: 70%;
   }

   form button{
    margin: 10px 10px;
    padding: 2px 10px;
   }
  /*Footer*/
  footer{
    padding: 0px 15px;
  }

  footer .contacto{
   font-size: 54%;
   }

  footer .contacto p{
     margin: 2px 0px;
   }

  footer img{
     width: 40%;
   }

  footer .contacto h3{
     margin-top: 2px;
     font-size: 140%;
   }

  footer .redes{
     font-size: 175%;
   }
}

@media(max-width:570px){
    /* HEADER */
    
    header {
      background-color: rgb(216, 67, 23);  
      border: solid 1px black;
    }
  
    header ul li{
    list-style: none;
    padding: 0px 8px;
    }
  
    header ul li:hover{
      border: solid 0.5px black;
      border-radius: 4px;
      background-color: black;
      padding: 0px 8px;
    }
  
    header a{
      text-decoration: none;
      color: black;
    }
  
    header a:hover{
      text-decoration-line: none;
      color: white;
      background-color: black;
    }
  
    header .navegacion{
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end; 
      margin-right: 0px;
    }
  
    header ul{
      display: contents;
    }
  
  
    header .logo{
      margin: 0px 0px;
    }
  
    .logo img{
      width: 25%;
      border-radius: 90%;
      border: solid 1px black;
      display: block;
    }
  
    /* Form */
  
    form .row{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-self: center;
      height: 100vh;
    }
  
    form .formulario{
      justify-content: center;
      margin-top: 50px;
      border-radius: 5px;
      border: solid 1px black;
      background-image: url('https://i.pinimg.com/originals/ad/ab/41/adab41ec5b5f829e01ac27a7dd9fdfd2.jpg');
      color: white;
    }
  
    form label{
      display: contents;
    }
  
    form input{
      margin-bottom: 8px;
    }
  
    form button{
      margin: 5px 10px;
      padding: 5px 5px;
      border: none;
      background-color: black;
      color: white;
      border-radius: 5px;
    }
  
    form button:hover{
      background-color: white;
      color: black;
    }
    /* Footer */
    footer{
      background-color: rgb(216, 67, 23);
      margin-top: -43px;
      border: solid 1px black;
    }
  
    footer img{
      width: 19%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      border-radius: 90%;
      border: solid 1px black;
      margin-top: 1px;
    }

    footer .order{
      order:-1;
    }
  
    footer .contacto{
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  
    footer .redes{
      font-size: 180%;
      display: flex;
      flex-wrap: wrap;
      align-items: center; 
    }
  
    .redes a{
      color: black;
    }
  
    .redes .facebook:hover{
      color: #385898;
    }
  
    .redes .twitter:hover{
      color: rgb(29,161,242);
    }
  
    .redes .instagram:hover{
      color: rgb(182, 12, 35);
    } 
}