<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <script src="https://kit.fontawesome.com/8c7b135ad9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/formulario.css">    
    
</head>
<body>
      <header class="container-fluid">
        <div class="row">
           <div class="col-lg-4 col-md-4 col-12 logo">
             <a href="/"><img src="images/COMIDITA.jpg" alt=></a>
           </div>
          <div class="col-lg-4 col-md-4 col-sm-2 navegacion">
            <ul>
              <li><a href="/">Volver</a></li>
            </ul>
          </div>                       
         </div>
     </header>  
          
    <aside>
    <h1>Formulario</h1>     
    <div class="formula2">
        <form class="formulario"action="">
            <br>
            <div class="form-group">
            <label for="pedido">Nombre del producto</label>
            <br>
            <input type="text" placeholder="producto" id="pedido">            
            <br><br>          
            <label for="precio">ingrese el precio</label>
            <br>
            <input type="number" id="precio" placeholder="precio">            
            </div>
            <br>           
            <label for="seleccionarCategoria">Seleccione categoria alimentos</label>
            <br>
            <select class="form-control" id="seleccionarCategoria">
                <option>Vegano</option>
                <option>Vegetariono</option>
                <option>Pizzas</option>
                <option>Hamburgesas</option>
                <option>Carne al plato</option>
                <option>Pastas</option>
                <option>Postres</option>
                <option>Desayuno</option>
                <option>Vinos</option>
                <option>Cervezas</option>
                <option>Gaseosas</option>
                <option>Tragos</option>
              </select>           
              <br><br>
            <label for="caracteristica">Caracteristica</label>
            <br>
            <textarea name="" id="caracteristica" cols="50" rows="30"></textarea>
            <br><br>
            <div class="menu">    
                <ul>
                <li><button type="reset" class="btn btn-danger">Reiniciar</button></li>
                <li><button type="submit" class="btn btn-danger">Enviar</button></li>                
                </ul>                
        </div>
            <br><br>
        </form>

    </div>
    </aside> 
    <footer id="footer" class="container-fluid">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-10 contacto">
          <h3>Contacto</h3>
          <p>Telefono: 1234567890</p>
          <p>Email: comidita@gmail.com</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-10 order">
          <img src="images/COMIDITA.jpg" alt="">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-10 redes">
          <a href="" class="facebook"><i class="fab fa-facebook-square"></i></a>
          <a href="" class="instagram"><i class="fab fa-instagram-square"></i></a>
          <a href="" class="twitter"><i class="fab fa-twitter"></i></a>
        </div>
      </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>