<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>

    <body>

        <%- include('partials/header') %>

            <aside>
                <h1>Formulario</h1>
                <div class="formula2">
                    <form class="formulario" action="">
                        <br>
                        <div class="form-group">
                            <label for="pedido">Nombre del producto</label>
                            <br>
                            <input type="text" placeholder="producto" id="pedido">
                            <br><br>
                            <label for="precio">ingrese el precio</label>
                            <br>
                            <input type="number" id="precio" placeholder="precio">
                        </div>
                        <br>
                        <label for="seleccionarCategoria">Seleccione categoria alimentos</label>
                        <br>
                        <select class="form-control" id="seleccionarCategoria">
                <option>Vegano</option>
                <option>Vegetariono</option>
                <option>Pizzas</option>
                <option>Hamburgesas</option>
                <option>Carne al plato</option>
                <option>Pastas</option>
                <option>Postres</option>
                <option>Desayuno</option>
                <option>Vinos</option>
                <option>Cervezas</option>
                <option>Gaseosas</option>
                <option>Tragos</option>
              </select>
                        <br><br>
                        <label for="caracteristica">Caracteristica</label>
                        <br>
                        <textarea name="" id="caracteristica" cols="50" rows="30"></textarea>
                        <br><br>
                        <div class="menu">
                            <ul>
                                <li><button type="reset" class="btn btn-danger">Reiniciar</button></li>
                                <li><button type="submit" class="btn btn-danger">Enviar</button></li>
                            </ul>
                        </div>
                        <br><br>
                    </form>

                </div>
            </aside>
            <%- include('partials/footer') %>

    </body>

</html>