<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %> 
<body>
    <%- include('partials/header') %> 
     
     <form action="" method="POST" class="container">
        <div class="row">
          <div class="row col-lg-6 col-md-6 col-9 formulario">

            <i class="fas fa-user-circle"></i>

            <label for="">Usuario</label>  
           <input type="text" placeholder="Juan" required="true">   
           <label for="">Contraseña</label> 
           <input type="password" name="" id="" placeholder="***********" required="true">      
           <div>
            <button type="submit" class="btn btn-primary">Login</button>
           </div>            
          </div>
        </div>
     </form> 
     
     <%- include('partials/footer') %> 
</body>
</html>