<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %> 
<body>
  <%- include('partials/header') %> 

  <div class="sticky-top"><a href="/products/cart" class="carrito"><i class="fas fa-cart-arrow-down"></i></a></div> 

  <div class="shadow-lg p-3 mb-5 bg-white rounded titulo">carrito de Compras</div> 

  <div class="card mb-3 as" style="max-width: 70%;">
    <div class="row no-gutters">
      <div class="col-lg-1 col-md-4">
        <img src="/images/burger1.jpg" class="card-img" alt="...">
      </div>
      <div class="col-lg-8 col-md-8">
        <div class="card-body">
          <h6 class="card-title">Hamburgusa al vapor</h6>

          <p class="card-text"><small class="text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet distinctio dolor, quae rem libero pariatur!</small></p>
          <p class="card-text"><small class="text-muted">$900</small></p>

          <button type="button" class="btn btn-primary btn-sm"> Comprar</button>
          <button type="button" class="btn btn-danger">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
  
  <%- include('partials/footer') %> 
</body>
</html