<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
    <script src="https://kit.fontawesome.com/8c7b135ad9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/register.css">
</head>
<body>
    <header class="container-fluid">
        <div class="row">
           <div class="col-lg-4 col-md-4 col-sm-12 logo">
             <a href=""><img src="images/COMIDITA.jpg" alt=""></a>
           </div>
          <div class="col-lg-4 col-md-4 col-sm-2 navegacion">
            <ul>
              <li><a href="index">Volver</a></li>
            </ul>
          </div>                       
         </div>
     </header>
     <form action="" method="POST" class="container">
        <div class="row">
          <div class="row col-lg-6 col-md-6 col-9 formulario">
           <h1>Registrarse</h1>             
            <label for="">Nombre y Apellido</label>  
           <input type="text" placeholder="Juan" required="true">   
           <label for="">Email</label> 
           <input type="email" name="" id="" placeholder="comidita@gmail.com" required="true">   
           <label for="">Contraseña</label>
           <input type="password" name="" id="" required='true'>   
           <div>
            <button type="submit">Registrarse</button>
            <button type="reset">Cancelar</button>
           </div>
            
          </div>
        </div>
     </form> 
     
     <footer id="footer" class="container-fluid">
      <div class="row">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-10 contacto">
            <h3>Contacto</h3>
            <p>Telefono: 1234567890</p>
            <p>Email: comidita@gmail.com</p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-10 order">
            <img src="images/COMIDITA.jpg" alt="">
          </div>
          <div class="col-lg-4 col-md-4 col-sm-10 redes">
            <a href="" class="facebook"><i class="fab fa-facebook-square"></i></a>
            <a href="" class="instagram"><i class="fab fa-instagram-square"></i></a>
            <a href="" class="twitter"><i class="fab fa-twitter"></i></a>
          </div>
        </div>
    </footer> 



     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>