<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/register.css">
</head>
<body>
    <h1>register</h1>

    <header class="container">
        <div class="row">
           <div class="col-4">
             <ul class="btn-group">
               <li><a class="btn btn-outline-light text-dark" href="">Carta</a></li>
               <li><a class="btn btn-outline-light text-dark" href="">Eventos</a></li>
               <li><a class="btn btn-outline-light text-dark" href="">Sucursales</a></li>
             </ul>
           </div>
             <div class="col-4">
               <a href="index.ejs"><img src="images/COMIDITA.jpg" alt=""></a>
             </div>
           <div class="col-4">
             <ul class="btn-group">
               <li><a class="btn btn-outline-light text-dark" href="#footer">Contacto</a></li>
               <li><a class="btn btn-outline-light text-dark" href="register">Registrarse</a></li>
               <li><a class="btn btn-outline-light text-dark" href="">Entrar</a></li>
             </ul>
            </div>
           </div>
     </header>
</body>
</html>