<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %> 
<body>
  <%- include('partials/header') %> 

     <form action="" method="POST" class="container">
        <div class="row">
          <div class="row col-lg-6 col-md-6 col-9 formulario">
           <h1>Registrarse</h1>             
            <label for="">Usuario</label>  
           <input type="text" placeholder="Juan" required="true">   
           <label for="">Email</label> 
           <input type="email" name="" id="" placeholder="comidita@gmail.com" required="true">   
           <label for="">Contraseña</label>
           <input type="password" name="" id="" required='true'>   
           <div>
            <button type="submit">Registrarse</button>
            <button type="reset">Cancelar</button>
           </div>            
          </div>
        </div>
     </form> 
     
     <%- include('partials/footer') %> 

</body>
</html>