<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuestras Sucursales</title>
    <script src="https://kit.fontawesome.com/8c7b135ad9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/sucursal.css">
</head>
<body>
    <header class="container-fluid">
        <div class="row">
           <div class="col-lg-4 col-md-4 col-sm-12 logo">
             <a href=""><img src="images/COMIDITA.jpg" alt=></a>
           </div>
          <div class="col-lg-4 col-md-4 col-sm-2 navegacion">
            <ul>
              <li><a href="index">Volver</a></li>
            </ul>
          </div>                       
         </div>
     </header>
     <section class="container">
         <div class="row">
            <article class="col-12">
                <h1>Nuestras Sucursales</h1>
            </article>
         </div>
     </section>
     <section class="container">
         <div class="row">
             <div class="col-12 col-md-8  sucursal">
                <h4>Sucursal: España 299, B1832 DFI, Provincia de Buenos Aires</h4>
                <p>Telefono: +541143924334</p>
             </div>
             <div class="col-12 col-md-8 mapa">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3277.658673062209!2d-58.40256788504681!3d-34.764190073512886!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcd2eb7e1cdd41%3A0xa568e078811991f0!2sRestaurante%20Pertutti!5e0!3m2!1ses-419!2sar!4v1597097335126!5m2!1ses-419!2sar" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
             </div>
         </div>
     </section>
     <section class="container">
        <div class="row">
            <div class="col-12 col-md-8 sucursal">
               <h4>Sucursal: Perú 27, C1067 AAA, Buenos Aires</h4>
               <p>Telefono: +541143429057</p>
            </div>
            <div class="col-12 col-md-8 mapa">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.834207248862!2d-58.37753348505213!3d-34.608353665249815!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccad3a934e763%3A0xbae873cdbb66fd3a!2sPertutti!5e0!3m2!1ses-419!2sar!4v1597097650170!5m2!1ses-419!2sar" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row">
            <div class="col-12 col-md-8 sucursal">
               <h4>Sucursal: Av. Bartolomé Mitre 800, B1870 Avellaneda, Provincia de Buenos Aires</h4>
               <p>Telefono: +541142225333</p>
            </div>
            <div class="col-12 col-md-8 mapa">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3281.6853389721837!2d-58.36651768505026!3d-34.66264876812517!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a33351e4698d3f%3A0x76a5dd9656b79ab5!2sPertutti!5e0!3m2!1ses-419!2sar!4v1597097564339!5m2!1ses-419!2sar" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
    </section>    
     
     <footer id="footer" class="container-fluid">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-10 contacto">
            <h3>Contacto</h3>
            <p>Telefono: 1234567890</p>
            <p>Email: comidita@gmail.com</p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-10 order">
            <img src="images/COMIDITA.jpg" alt="">
          </div>
          <div class="col-lg-4 col-md-4 col-sm-10 redes">
            <a href="" class="facebook"><i class="fab fa-facebook-square"></i></a>
            <a href="" class="instagram"><i class="fab fa-instagram-square"></i></a>
            <a href="" class="twitter"><i class="fab fa-twitter"></i></a>
          </div>
        </div>
    </footer> 



     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>