<header class="container-fluid">
    <div class="row">
     <div class="col-lg-4 col-md-4 col-12 navegacion">
       <ul>
         <li><a href="/products/carta"><button type="button" class="btn btn-secondary">Carta</button></a></li>
         <li><a href="/eventos"><button type="button" class="btn btn-secondary">Eventos</button></a></li>
         <li><a href="/sucursal"><button type="button" class="btn btn-secondary">Sucursales</button></a></li>
       </ul>
     </div>
       <div class="col-lg-4 col-md-4 col-sm-4 col-12">
         <a href="/"><img src="/images/COMIDITA.jpg" alt=""></a>
       </div>
     <div class="col-lg-4 col-md-4 col-12 navegacion">
       <ul>
         <li><a href="#footer"><button type="button" class="btn btn-secondary">Contacto</button></a></li>
         <li><a href="/users/register"><button type="button" class="btn btn-secondary">Registarse</button></a></li>
         <li><a href="/users/login"><button type="button" class="btn btn-secondary">Login</button></a></li>
       </ul>
     </div>
    </div> 
 </header>