<header class="container-fluid">
    <div class="row">
     <div class="col-lg-4 col-md-4 col-12 navegacion">
       <ul>
         <li><a href="/products/carta">Carta</a></li>
         <li><a href="/eventos">Eventos</a></li>
         <li><a href="/sucursal">Sucursales</a></li>
       </ul>
     </div>
       <div class="col-lg-4 col-md-4 col-sm-4 col-12">
         <a href="/"><img src="/images/COMIDITA.jpg" alt=""></a>
       </div>
     <div class="col-lg-4 col-md-4 col-12 navegacion">
       <ul>
         <li><a href="#footer">Contacto</a></li>
         <li><a href="/users/register">Registrarse</a></li>
         <li><a href="/users/login">Entrar</a></li>
       </ul>
     </div>
    </div> 
 </header>