<header class="container-fluid">
    <div class="row ">
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <div class="col-12 col-lg-2">
                    <a href="/"><img src="/images/COMIDITA.jpg" alt=""></a>
                </div>
                <div class="col-lg-10">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link " href="/products">carta</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/products/sucursal">Sucursales</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link " href="/products/eventos">Eventos</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#footer">Contacto</a>
                        </li>
                       <% if (typeof user == "undefined") { %>
                            <li class="nav-item active">
                                <a class="nav-link" href="/users/register">Registrarse</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="/users/login">Login</a>
                            </li>
                            <% } else{ %>
                                <li class="nav-item active">
                                    <a class="nav-link" href="/users/logout">cerrar</a>
                                </li>
                                <li class="nav-item ">

                                    <% if (user.rol == 'usuario') { %>
                                        <a href="/users/profile"><img src="/images/<%= user.avatar %> "  width="50px" height="50px" class="avatar"></a>
                                    
                                    <%} else if (user.rol == 'administrador') {%>
                                        <a class="nav-link" href="/users/profile">administrador</a>
                                    <% } else{%>
                                        <a href=""><img src="/public/images/image-not-found.png" alt="" width="50px" height="50px" class="avatar"></a>
                                    <% } %>
                                </li>
                                <% } %>
                    </ul>
                </div>

            </div>
        </nav>
    </div>


</header>